<%= form_with model: [ @feature, @check_item ? @check_item : @feature.check_items.build ] do |form| %>
  <div>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </div>
  <div>
    <%= form.label :finished? %><br>
    <%= form.check_box :finished %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
