<%= form_with(model: feature) do |form| %>
  <% if feature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feature.errors.count, "error") %> prohibited this feature from being saved:</h2>

      <ul>
        <% feature.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, ["To Do", "In Progress", "In Review", "Merged"] %>
  </div>

  <div class="field">
    <%= form.label :release_date %>
    <%= form.date_field :release_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
