<%= form_with model: feature do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% feature.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :stauts %><br>
    <%= form.select :status, ["To Do", "In Progress", "In Review", "Merged"] %>
    <% feature.errors.full_messages_for(:status).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :release_date %><br>
    <%= form.date_field :release_date %>
    <% feature.errors.full_messages_for(:release_date).each do |message| %>
      <div><%= message %></div  >
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    <% feature.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div  >
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
