<h1>Editing Feature</h1>

<%= render 'form', feature: @feature %>

<strong>Action Items</strong>
<% @feature.checkitems.each_with_index do |checkitem, index| %>
  <p>

    <strong><%= index + 1 %></strong>
    <%= checkitem.description %>
  </p>
<% end %>


<strong>Add more action items:</strong>
<%= form_with model: [ @feature, @feature.checkitems.build ] do |form| %>
  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Show', @feature %> |
<%= link_to 'Back', features_path %>
