<h1>Editing Feature</h1>

<%= render 'form', feature: @feature %>

<br>
<strong>Action Items</strong>
<%= render @feature.checkitems %>

<br>
<strong>Add more action items:</strong>
<%= render 'checkitems/form' %>

<%= link_to 'Show', @feature %> |
<%= link_to 'Back', features_path %>
