<div class="layout">
  <div class="flex-container-space-between">
    <div>
      <h1>Features</h1>
    </div>

    <div>
      <button type="button" class="btn btn-outline-light">
        <%= link_to "New Feature", new_feature_path, class: "a-primary" %>
      </button>
    </div>
  </div>

  <div class="list-group">
    <% @features.each do |feature, index| %>
      <div class="list-group-item list-group-item-action" style="width:100%">
        <div class="flex-container-space-between">
          <%= link_to feature, class:"div-fill-flexbox" do %>
            <div class="flex-container-space-between" style="color:black">
              <div class="cut-text"><%= feature.name %></div>
              <div class="progress progress-flex">
                <div class="progress-bar <%= status_color_for_progress_bar(feature) %>" role="progressbar"
                     style="width: <%= status_width_for_progress_bar(feature) %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
              <div style="min-width:10%"><%= feature.release_date %></div>
            </div>
          <% end %>
          <div class="delete-feature-button">
            <%= link_to feature_path(feature),method: :delete,
             data: { confirm: "Are you sure?" } do%>
              <div style="color:red">Delete</div>
            <%end%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
