<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feature.name %>
</p>

<p>
  <strong>URL:</strong>
  <%= @feature.url %>
</p>

<p>
  <strong>Status:</strong>
  <%= @feature.status %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @feature.release_date %>
</p>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
