<div>
  <h2><%= @feature.name %></h2>
  <div class="flex-container-flex-start">
    <div style="word-wrap: break-word"><h5>Status: </h5></div>
    <div><%= @feature.status %></div>
  </div>
  <div class="flex-container-flex-start">
    <div style="word-wrap: break-word"><h5>Release date: </h5></div>
    <div><%= @feature.release_date %></div>
  </div>
  <div class="flex-container-flex-start">
    <div style="word-wrap: break-word"><h5>Description: </h5></div>
    <div><%= @feature.description %></div>
  </div>

  <h2>Check items</h2>
  <%= render partial: "check_items/show_item", collection: @feature.check_items, as: :check_item %>

  <ul>
    <li><%= link_to "Edit", edit_feature_path(@feature) %></li>
    <li><%= link_to "Destroy", feature_path(@feature),
         method: :delete,
         data: { confirm: "Are you sure?" } %></li>
  </ul>

  <%= link_to 'Back', features_path %>
</div>
